<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="gzip" enabled="true" stopProcessing="false">
                    <match url="(.*).js" />
                    <conditions></conditions>
                    <action type="Rewrite" url="{R:1}.js.gz" appendQueryString="true" logRewrittenUrl="true" />
                </rule>
				<rule name="login" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">						
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/login/index.html" />
				</rule>
			</rules>
            <outboundRules>
                <rule name="Rewrite content-encoding header" preCondition="IsGZ" stopProcessing="false">
                    <match serverVariable="RESPONSE_CONTENT_ENCODING" pattern=".*" />
                    <action type="Rewrite" value="gzip" />
                </rule>
                <preConditions>
                    <preCondition name="IsGZ">
                        <add input="{URL}" pattern="\.gz$" />
                    </preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
		<urlCompression doStaticCompression="false" />
        <staticContent>
            <remove fileExtension=".gz" />
            <mimeMap fileExtension=".gz" mimeType="application/javascript" />
        </staticContent>
	</system.webServer>
</configuration>
